@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bgg.jpg);
}
.box1{
    margin: 50px;
    width:92%;
    height: 100%;
    background-color: white;
    position: relative;
    border: 2px solid burlywood;
    border-radius: 10px;
    overflow: hidden;
}
#logo{
    width:450px;
    position: absolute;
    top: -110px;
    right: -100px;
}
a{
    font-family: "archivo",serif;
    color: black;
    font-weight: lighter;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    margin: 5px;
    left: 200px;
}
#tail{
    font-family: "archivo",serif;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 30px;
}
#head{
    font-family: "archivo",serif;
    font-size: 70px;
    position: relative;
    top: 30px;
    left:20px;
    font-weight: lighter;
    overflow: hidden;
   }
   #encodepara{
    width: 600px;
    font-family: "archivo",serif;
    font-weight: lighter;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 25px;
}
.form-control{
    position: relative;
    border: 1px solid black;
    top: 40px;
    left: 25px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
 }
 .form-control-message{
    width: 500px;
    height: 150px;
    position: relative;
    left: 30px;
    
 }
 .decode{
    background-color: transparent;
    border: none;
    font-family: "archivo",serif;
    font-size: 30px;
    position: relative;
    top: 60px;
    left: 300px;
    font-weight: bold;
    margin-bottom: 100px;
    }
    .decode:hover
    {
        -webkit-text-stroke: 2px black;
        color: white;
    }
    h3{
        font-family: "archivo",serif;
        font-size: 40px;
        font-weight: lighter;
        position: relative;
        left:60px ;
        margin: 10px;
        font-weight: bold;
        -webkit-text-stroke: 2px black;
        color: white;
    }
    .images{
        padding: 30px;
        margin-bottom: 50px;
    }
.binary-decode{
    margin-top: 100px;
}