
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
}
body{
background-image: url(bgg.jpg);
background-repeat: cover;
}
#logo{
    width:150px;
    position: absolute;
    top: 20px;
    right: 20px;

}
#head{
 font-family: "archivo",serif;
 font-size: 70px;
 position: relative;
 top: 380px;
 left:20px;
 font-weight: lighter;
 overflow: hidden;
}
#sub{
    font-family: "archivo",serif;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 80px;
    left: 20px;
}
#tail{
    font-family: "archivo",serif;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 30px;
}
#qrcode{
    width: 200px;
    position: absolute;
    right: 100px;
    bottom: 100px;
}
.box1{
    margin: 50px;
    width:92%;
    height: 600px;
    background-color: white;
    position: relative;
    border: 2px solid burlywood;
    border-radius: 10px;
}
.box2{
    width:92%;
    height: 700px;
    background-color:black;
    position:relative;
    left: 50px;
    border: 2px solid silver;
    border-radius: 10px;
    margin-bottom: 50px;
}
#header{
    font-size: 50px;
    color: white;
    font-family: "archivo",serif;
    font-weight: lighter;
    position: relative;
    top: 50px;
    left:60px;  
    overflow: hidden;
    width: 740px;
    animation: type linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
}
#headpara{
    color: white;
    font-family: "archivo",serif;
    font-weight: lighter;
    width: 400px;
    position: absolute;
    top: 300px;
    right:300px;
    overflow: hidden;
    height: 110px;
    animation: type2 linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end:200px ;
}
#imgstegno{
    font-family: "archivo",serif;
    width: 550px;
    font-size: 40px;
    -webkit-text-stroke: 1px white;
    position: absolute;
    left: 680px;
    top: 200px;
    animation: type3 linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}
#headparag{
    color: white;
    width: 400px;
    position: relative;
    left: 80px;
    top: 50px;
    font-family: "archivo",serif;
    font-weight: lighter;
    animation: type2 linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end:200px ;
}
#algo{
    color: white;
    font-family: "archivo",serif;
    font-weight: lighter;
    position: relative;
    top:250px;
    left: 60px;
    width: 400px;
    overflow: hidden;
    font-size: 50px;
    animation: type4 linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end:200px ;
}
#algopara{
    color: white;
    font-family: "archivo",serif;
    width: 400px;
    height: 110px;
    overflow: hidden;
    font-weight: lighter;
    position: relative;
    top: 250px;
    left: 60px;
    animation: type2 linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end:200px ;
}
#head1{
    font-family: "archivo",serif;
    font-size: 70px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.856);
    color:white;
    position: relative;
    left: 20px;
    font-weight: lighter;
}
#head2{
    font-family: "archivo",serif;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
    color:white;
    position: relative;
    left: 20px;
    font-weight: lighter;
}
#head3{
    font-family: "archivo",serif;
    font-size: 70px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.644);
    color:white;
    position: relative;
    left: 20px;
    font-weight: lighter;
}
#head4{
    font-family: "archivo",serif;
    font-size: 70px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.404);
    color:white;
    position: relative;
    left: 20px;
    font-weight: lighter;
}
a{
    font-family: "archivo",serif;
    color: black;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    top: 15px;
    margin: 5px;
    left: 700px;
}
#footerhead{
    color: white;
    font-family: "archivo",serif;
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    bottom: 150px;
    right: 620px;
}
#footerpara{
    color: white;
    font-family: "archivo",serif;
    font-weight: lighter;
    font-size: 15px;
    width: 600px ;
    position: absolute;
    bottom: 100px;
    right: 100px;
}